<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cfg.deploytools.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.cfg.deploytools.mapper.ProjectMapper">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getProjectList" resultType="com.cfg.deploytools.model.Project">
        select id, name from zt_project order by begin desc
    </select>
    
</mapper>